# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
## -------------------------
## HEADER COMMENTS
## Python-API-Challenge-VacationPy-Homework
## Date Due April 18, 2020
## Author:  Rob Gauer

## FILE NAME: VacationPy.ipynb 
## VERSION: VacationPy_robgauer_vfinal.ipynb  # Final code is a duplicate copy of 'VacationPy.ipynb'
## -------------------------
# Read 'Preview README.md'
#
## DESCRIPTION
# Part II - VacationPy
# Now let's use your skills in working with weather data to plan future vacations. 
# Use jupyter-gmaps and the Google Places API for this part of the assignment.
#     Note: if you having trouble displaying the maps try running jupyter nbextension
#     enable --py gmaps in your environment and retry.
#
## Your final notebook must:
## -------------------------
# Create a heat map that displays the humidity for every city from the part I of the homework.
# Narrow down the DataFrame to find your ideal weather condition. For example:
#     A max temperature lower than 80 degrees but higher than 70.
#     Wind speed less than 10 mph.
#     Zero cloudiness.
#     Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
# Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.
# Create a new GitHub repository for this project called API-Challenge.
# You must complete your analysis using a Jupyter notebook.
#
## -------------------------

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Output Files (CSV)
output_data_file_hotels = "output_data/hotels_name_list.csv"

# Initialization and define URL to obtain data query end-points
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [3]:
# Import API key
from api_keys import g_key
g_key

'AIzaSyAtGIaEU0IXi5RuC9hmdjTftZhikNMFNiI'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Load the csv exported file from part 1 'WeatherPy' to a DataFrame, REM file location is at python-api-challenge repository.
cities_csv_file="../python-api-challenge/weatherpy/output_data/cities-cleaned.csv"
cities_cleaned_df=pd.read_csv(cities_csv_file)
cities_cleaned_df.head()

,Unnamed: 0,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
0,0,douentza,91,ML,1587251998,21,15.00,-2.95,84.24,2.21
1,1,boca do acre,61,IT,1587251998,76,45.68,8.41,57.00,0.25
2,2,flinders,49,AU,1587251998,65,-34.58,150.86,64.00,7.00
3,3,akureyri,75,IS,1587251998,70,65.68,-18.09,46.40,34.45
4,4,yarada,0,IN,1587251998,80,17.65,83.27,80.85,11.34

In [5]:
# DataFrame load creates column 'Unnamed: 0'. Remove the column with df.drop
cities_cleaned_df.drop('Unnamed: 0',axis=1, inplace=True)

In [6]:
# DataFrame prepared for processing...
cities_cleaned_df.head()

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
0,douentza,91,ML,1587251998,21,15.00,-2.95,84.24,2.21
1,boca do acre,61,IT,1587251998,76,45.68,8.41,57.00,0.25
2,flinders,49,AU,1587251998,65,-34.58,150.86,64.00,7.00
3,akureyri,75,IS,1587251998,70,65.68,-18.09,46.40,34.45
4,yarada,0,IN,1587251998,80,17.65,83.27,80.85,11.34

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Create a heat map that displays the humidity for every city from the part I of the homework.
gmaps.configure(api_key=g_key)

#fig = gmaps.figure(layout=figure_layout)
humidity=cities_cleaned_df["Humidity"].astype(float)
locations=cities_cleaned_df[["Latitude","Longitude"]].astype(float)
fig = gmaps.figure()

# Add marker layer on top of heat map
figure_layout = {
    'width': '960px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create heat layer
heat_layer=gmaps.heatmap_layer(locations,
                               weights=humidity,dissipating=False,max_intensity=max(cities_cleaned_df["Humidity"]),
                               point_radius=2)

# Add layers
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [8]:
# Save Heatmap to file 
plt.savefig("output_data/heatmap-humidity-cities-cleaned-df.png")

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
## DATAFRAME WEATHER CRITERIA
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Create new datafrome for the identification and removal DataFrame Weather Criteria above...
reduced_cities_df=cities_cleaned_df
reduced_cities_df.count()

Weather City           555
Cloudiness             555
Country                553
Date                   555
Humidity               555
Latitude               555
Longitude              555
Maximum Temperature    555
Wind Speed             555
dtype: int64

In [10]:
## PERFORM DATAFRAME CRITERIA CALCULATIONS
# A max temperature lower than 80 degrees but higher than 70.
reduced_cities_df = reduced_cities_df.loc[(reduced_cities_df["Maximum Temperature"] < 80) & (reduced_cities_df["Maximum Temperature"] > 70)]
# Wind speed less than 10 mph.
reduced_cities_df = reduced_cities_df.loc[reduced_cities_df["Wind Speed"] < 10]
# Zero cloudiness.
reduced_cities_df = reduced_cities_df.loc[reduced_cities_df["Cloudiness"] == 0]
# Drop any rows with null values
reduced_cities_df = reduced_cities_df.dropna()
reduced_cities_df

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
64,trinidad,0,BO,1587252071,57,-14.83,-64.90,78.80,4.70
136,concordia sagittaria,0,AR,1587252147,59,-31.39,-58.02,72.00,1.99
244,rayagada,0,IN,1587252292,69,19.17,83.42,76.64,1.28
251,myanaung,0,MM,1587252358,57,18.28,95.32,74.01,2.57
358,marandahalli,0,IN,1587252506,70,12.40,78.00,72.45,0.69

In [11]:
# Determine quantity of cities that meet DataFrame Weather Criteria
reduced_cities_df.count()

Weather City           5
Cloudiness             5
Country                5
Date                   5
Humidity               5
Latitude               5
Longitude              5
Maximum Temperature    5
Wind Speed             5
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
# Determine quantity of cities that meet DataFrame Weather Criteria
reduced_cities_df.describe()

,Cloudiness,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
count,5.0,5.000000e+00,5.000000,5.000000,5.000000,5.000000,5.000000
mean,0.0,1.587252e+09,62.400000,0.726000,26.764000,74.780000,2.246000
std,0.0,1.721473e+02,6.542171,22.682774,80.817032,2.888347,1.544905
min,0.0,1.587252e+09,57.000000,-31.390000,-64.900000,72.000000,0.690000
25%,0.0,1.587252e+09,57.000000,-14.830000,-58.020000,72.450000,1.280000
50%,0.0,1.587252e+09,59.000000,12.400000,78.000000,74.010000,1.990000
75%,0.0,1.587252e+09,69.000000,18.280000,83.420000,76.640000,2.570000
max,0.0,1.587253e+09,70.000000,19.170000,95.320000,78.800000,4.700000

In [13]:
# Create new datafrome for the identification and removal DataFrame Weather Criteria above...
hotel_cities_df=reduced_cities_df
hotel_cities_df

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
64,trinidad,0,BO,1587252071,57,-14.83,-64.90,78.80,4.70
136,concordia sagittaria,0,AR,1587252147,59,-31.39,-58.02,72.00,1.99
244,rayagada,0,IN,1587252292,69,19.17,83.42,76.64,1.28
251,myanaung,0,MM,1587252358,57,18.28,95.32,74.01,2.57
358,marandahalli,0,IN,1587252506,70,12.40,78.00,72.45,0.69

In [14]:
# PARAMS Dictionary updates each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
for index, city in hotel_cities_df.iterrows():
    # get lat, lng from df
    lat = city["Latitude"]
    lng = city["Longitude"]
# Change location for each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # Create url and make API request
    print(f"Retrieving Results for Index {index}: {city['Weather City']}.")
    response = requests.get(base_url, params=params).json()
     
    # Extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_cities_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("EXCEPTION: City name is not found. Skip to next city...")
        
    print("-------------------------------------------------------")

Retrieving Results for Index 64: trinidad.
Closest hotel is Hotel Piesta.
-------------------------------------------------------
Retrieving Results for Index 136: concordia sagittaria.
Closest hotel is Palmar Hotel Casino.
-------------------------------------------------------
Retrieving Results for Index 244: rayagada.
Closest hotel is Hotel Swagath, Rayagada.
-------------------------------------------------------
Retrieving Results for Index 251: myanaung.
Closest hotel is Taung Hlay Khar.
-------------------------------------------------------
Retrieving Results for Index 358: marandahalli.
Closest hotel is "JJ 4 NEST".
-------------------------------------------------------

In [15]:
# Display output of hotel_cities_df with added Hotel Name column and data
hotel_cities_df

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed,Hotel Name
64,trinidad,0,BO,1587252071,57,-14.83,-64.90,78.80,4.70,Hotel Piesta
136,concordia sagittaria,0,AR,1587252147,59,-31.39,-58.02,72.00,1.99,Palmar Hotel Casino
244,rayagada,0,IN,1587252292,69,19.17,83.42,76.64,1.28,"Hotel Swagath, Rayagada"
251,myanaung,0,MM,1587252358,57,18.28,95.32,74.01,2.57,Taung Hlay Khar
358,marandahalli,0,IN,1587252506,70,12.40,78.00,72.45,0.69,"""JJ 4 NEST"""

In [16]:
# Export the 'Hotes_Cities' DataFrame output to a csv
hotel_cities_df.to_csv(output_data_file_hotels)

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>Weather City</dt><dd>{Weather City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**city) for index, city in hotel_cities_df.iterrows()]
locations = hotel_cities_df[["Latitude", "Longitude"]]

In [18]:
# Add marker layer on top of heat map
figure_layout = {
    'width': '960px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**city) for index, city in hotel_cities_df.iterrows()]
)

# Add layers
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [19]:
# Save Heatmap to file 
plt.savefig("output_data/heatmap-hotel-cities-df.png")

In [20]:
## ---EOF--- ##